@charset "UTF-8";
:root {
  --basic-textcolor: rgba(117, 117, 117, 1);
  --basic-textcolor-50: rgba(117, 117, 117, 0.5);
  --white-color: rgba(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
  --black-color-10: rgba(0, 0, 0, 0.1);
  --accent-color: rgba(33, 150, 243, 1);
  --basic-hcolor: rgba(33, 33, 33, 1);
  --basic-hcolor-10: rgba(33, 33, 33, 0.1);
  --basic-hcolor-20: rgba(33, 33, 33, 0.2);
  --footter-acolor-60: rgba(255, 255, 255, 0.6);
  --footter-acolor-10: rgba(255, 255, 255, 0.1);
  --accent-bgcolor: rgba(47, 48, 58, 1);
  --accent-bgcolor-40: rgba(47, 48, 58, 0.4);
  --accent-bgcolor-80: rgba(47, 48, 58, 0.8);
  --section-bgcolor: rgba(245, 244, 250, 1);
  --logo-dark-part-color: rgba(0, 0, 0, 1);
  --logo-light-part-color: rgba(255, 255, 255, 1);
  --border-card-color: rgba(238, 238, 238, 1);
  --border-header-color: rgba(236, 236, 236, 1);
  --social-color: rgba(175, 177, 184, 1);
  --maxwidth-container: 1200px;
  --minwidth-container: 320px;
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --maxwidth-canvas: 1600px;
  --minwidth-canvas: 320px;
  --maxheight-canvas: 600px;
  --minheight-canvas: 400px;
  --footer-vertical-block-interval: 60px;
  --footer-vertical-item-interval: 20px;
  --min-indent: 30px;
  --section-interval-mobile: 60px;
  --section-interval-desktop: 94px;
  --items-interval: 30px;
  --headline-size-mobile: 26px;
  --headline-size-desktop: 44px;
  --headline-lineheight-mobile: 1.62;
  --headline-lineheight-desktop: 1.36;
  --headsection-size-mobile: 28px;
  --headsection-size-desktop: 36px;
  --headsection-lineheight-mobile: 1.18;
  --headsection-lineheight-desktop: 1.17;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --timing-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
Черный лого rgba(0,0,0,1);
акцент rgba(33,150,243,1);
неактивный меню rgba(33,33,33,1);
неактивная ссылка rgba(117,117,117,1);
Основной белый rgba(255,255,255,1);
border: 1px solid 236,236,236,1
 */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--basic-textcolor);
}

/* ------- 

reset style for tags and base classes

------- */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

address {
  font-style: normal;
}

button {
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (max-width: 320px) {
  .mobile-menu {
    width: var(--minwidth-container);
  }
}

.mobile-menu--is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-menu__top {
  margin-bottom: 302px;
}

.header {
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.wrapper {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrapper--borderbottom {
  border-bottom: 1px solid var(--border-header-color);
}

.wrapper--background-image {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40)));
  background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40));
}

.container {
  width: 100%;
  height: 100%;
  min-width: var(--minwidth-container);
  max-width: var(--breakpoint-mobile);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--breakpoint-tablet);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--maxwidth-container);
  }
}

.container--forheader {
  padding: 0 15px;
}

.container--forfooter {
  padding: 60px 15px;
}

.container--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container--aligncenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--spacebetween {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--forsection {
  padding: var(--section-interval-mobile) 15px;
}

@media screen and (min-width: 1200px) {
  .container--forsection {
    padding: var(--section-interval-desktop) 15px;
  }
}

.container--forhero {
  padding: 118px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container--forhero {
    padding: 200px 0;
  }
}

.container--for-whatdo {
  padding: 94px 15px;
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .container--for-whatdo {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo--inheader {
    margin-right: 93px;
  }
}

.logo--infooter {
  margin-bottom: var(--footer-vertical-item-interval);
}

@media screen and (max-width: 767px) {
  .logo--infooter {
    text-align: center;
  }
}

.logo__link {
  text-decoration: none;
  color: var(--accent-color);
  outline: none;
}

.logo__link:focus {
  -webkit-box-shadow: 0 0 0 3px var(--accent-color);
          box-shadow: 0 0 0 3px var(--accent-color);
}

.logo__span--dark-part {
  color: var(--logo-dark-part-color);
}

.logo__span--light-part {
  color: var(--logo-light-part-color);
}

.btn-submit {
  text-align: center;
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
}

.btn-submit--base {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
}

.btn-submit--menu-toggle {
  color: var(--basic-hcolor);
}

@media screen and (min-width: 768px) {
  .btn-submit--menu-toggle {
    display: none;
  }
}

.btn-submit--filter {
  padding: 6px 22px;
  min-height: 38px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--section-bgcolor);
  color: var(--basic-hcolor);
  -webkit-transition: background-color 250ms var(--timing-transition), color 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: background-color 250ms var(--timing-transition), color 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: background-color 250ms var(--timing-transition), color 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition);
  transition: background-color 250ms var(--timing-transition), color 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
}

.btn-submit--close-mobile-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--basic-hcolor);
}

.btn-submit--close-modal-order {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--black-color);
}

.btn-submit--200-50 {
  padding: 0;
  min-width: 200px;
  height: 50px;
}

.btn-submit--40-40 {
  width: 40px;
  height: 40px;
}

.btn-submit--30-30 {
  width: 30px;
  height: 30px;
}

.btn-submit--only-icon {
  font: unset;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.btn-submit--with-border {
  border: 1px solid var(--black-color-10);
}

.btn-submit--circle-border {
  border-radius: 50%;
}

.btn-submit--radius-border-4 {
  border-radius: 4px;
}

.btn-submit--shadow {
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-transition);
  transition: -webkit-box-shadow 250ms var(--timing-transition);
  transition: box-shadow 250ms var(--timing-transition);
  transition: box-shadow 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
}

.btn-submit--shadow:focus, .btn-submit--shadow:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-submit--color {
  -webkit-transition: color 250ms var(--timing-transition);
  transition: color 250ms var(--timing-transition);
}

.btn-submit--color:hover, .btn-submit--color:focus {
  color: var(--accent-color);
}

.btn-submit__icon {
  vertical-align: middle;
  fill: currentColor;
}

.btn-submit__icon--right-of-text {
  margin-left: 10px;
}

.btn-submit--filter:hover,
.btn-submit--filter:focus,
.btn-submit--filter-active {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu {
  list-style: none;
}

.menu__item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu__item:first-child {
  padding-top: 0;
}

.menu__item:last-child {
  padding-bottom: 0;
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  color: var(--basic-hcolor);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
  outline: none;
}

.menu__link--active {
  color: var(--accent-color);
}

.listinfo {
  display: inline-block;
  vertical-align: bottom;
  list-style: none;
}

.listinfo--display-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.listinfo__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.listinfo__item:first-child {
  padding-top: 0;
}

.listinfo__item:last-child {
  padding-bottom: 0;
}

.listinfo__item--margin-in-header:not(:last-child) {
  margin-right: 50px;
}

.listinfo__item--margin-in-footer:not(:last-child) {
  margin-bottom: 9px;
}

.listinfo__link {
  text-decoration: none;
}

.listinfo__link:hover, .listinfo__link:focus {
  color: var(--accent-color);
  outline: none;
}

.listinfo__link--view-for-menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--basic-textcolor);
}

.listinfo__link--view-for-menu-accent {
  font-size: 34px;
  line-height: 1.176;
  color: var(--accent-color);
}

.listinfo__link--view-for-header {
  color: var(--basic-textcolor);
}

.listinfo__link--view-for-footer {
  line-height: 1.715;
  color: var(--footter-acolor-60);
}

.listinfo__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.section {
  max-width: 100%;
  min-width: var(--minwidth-container);
}

.section__block-background {
  min-width: var(--minwidth-canvas);
  max-width: var(--breakpoint-tablet);
  height: var(--minheight-canvas);
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_480.jpg");
  background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_480.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__block-background {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_480@2x.jpg");
    background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section__block-background {
    max-width: var(--maxwidth-container);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_768.jpg");
    background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__block-background {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_768@2x.jpg");
    background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section__block-background {
    max-width: var(--maxwidth-canvas);
    height: var(--maxheight-canvas);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_1600.jpg");
    background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_1600.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section__block-background {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-40)), to(var(--accent-bgcolor-40))), url("../images/hero_background_1600@2x.jpg");
    background-image: linear-gradient(to right, var(--accent-bgcolor-40), var(--accent-bgcolor-40)), url("../images/hero_background_1600@2x.jpg");
  }
}

.section__headline {
  display: block;
  margin-bottom: var(--items-interval);
  font-weight: 900;
  font-size: var(--headline-size-mobile);
  line-height: var(--headline-lineheight-mobile);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .section__headline {
    font-size: var(--headline-size-desktop);
    line-height: var(--headline-lineheight-desktop);
  }
}

.section--ourteam {
  background-color: var(--section-bgcolor);
}

.section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: var(--headsection-size-mobile);
  line-height: var(--headsection-lineheight-mobile);
  color: var(--basic-hcolor);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: var(--headsection-size-desktop);
    line-height: var(--headsection-lineheight-desktop);
  }
}

.section__title--whitecolor {
  color: var(--white-color);
}

.section__title--uppercase {
  text-transform: uppercase;
}

.text {
  line-height: 1.71;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.items--type-of-grid {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: calc(-1 * var(--min-indent));
  margin-left: calc(-1 * var(--min-indent));
}

.items__item {
  outline: none;
}

.items__item--for-features {
  -ms-flex-preferred-size: calc(100% / 1 - var(--min-indent));
      flex-basis: calc(100% / 1 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
}

@media screen and (min-width: 768px) {
  .items__item--for-features {
    -ms-flex-preferred-size: calc(100% / 2 - var(--min-indent));
        flex-basis: calc(100% / 2 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

@media screen and (min-width: 1200px) {
  .items__item--for-features {
    -ms-flex-preferred-size: calc(100% / 4 - var(--min-indent));
        flex-basis: calc(100% / 4 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

.items__item--for-clients {
  -ms-flex-preferred-size: calc(100% / 2 - var(--min-indent));
      flex-basis: calc(100% / 2 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
}

@media screen and (min-width: 768px) {
  .items__item--for-clients {
    -ms-flex-preferred-size: calc(100% / 3 - var(--min-indent));
        flex-basis: calc(100% / 3 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

@media screen and (min-width: 1200px) {
  .items__item--for-clients {
    -ms-flex-preferred-size: calc(100% / 6 - var(--min-indent));
        flex-basis: calc(100% / 6 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

.items__item--relative {
  position: relative;
}

.items__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--social-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: color 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: color 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: color 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition);
  transition: color 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
}

.items__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.items__link:focus {
  color: var(--accent-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0 0 0 1px var(--accent-color);
          box-shadow: 0 0 0 1px var(--accent-color);
}

.items__thumb {
  text-align: center;
  border-radius: 4px;
}

.items__thumb--for-features {
  height: 120px;
  line-height: 120px;
  background-color: var(--section-bgcolor);
}

.items__thumb--for-clients {
  height: 90px;
  line-height: 90px;
}

.items__thumb--with-margin-bottom {
  margin-bottom: var(--min-indent);
}

.items__icon {
  display: inline;
  vertical-align: middle;
}

.items__title {
  font-weight: 700;
  color: var(--basic-hcolor);
  text-transform: uppercase;
  text-align: center;
}

.items__title--with-margin-bottom {
  margin-bottom: 10px;
}

.items__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.items__overlay-title {
  padding: 27px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.items__overlay--bg-img {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--accent-bgcolor-80)), to(var(--accent-bgcolor-80)));
  background-image: linear-gradient(to right, var(--accent-bgcolor-80), var(--accent-bgcolor-80));
}

.items__text {
  line-height: 1.71;
}

.items__icon {
  fill: currentColor;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.cards--type-of-grid {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: calc(-1 * var(--min-indent));
  margin-left: calc(-1 * var(--min-indent));
}

.cards__card {
  border-style: hidden;
  border-width: 1px;
  overflow: hidden;
}

.cards__card--text-centered {
  text-align: center;
}

.cards__card--for-ourteam {
  -ms-flex-preferred-size: calc(100% / 1 - var(--min-indent));
      flex-basis: calc(100% / 1 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

@media screen and (min-width: 768px) {
  .cards__card--for-ourteam {
    -ms-flex-preferred-size: calc(100% / 2 - var(--min-indent));
        flex-basis: calc(100% / 2 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

@media screen and (min-width: 1200px) {
  .cards__card--for-ourteam {
    -ms-flex-preferred-size: calc(100% / 4 - var(--min-indent));
        flex-basis: calc(100% / 4 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

.cards__card--for-page-portfolio {
  -ms-flex-preferred-size: calc(100% / 1 - var(--min-indent));
      flex-basis: calc(100% / 1 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
  border: 1px solid var(--border-card-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-transition);
  transition: -webkit-box-shadow 250ms var(--timing-transition);
  transition: box-shadow 250ms var(--timing-transition);
  transition: box-shadow 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
}

@media screen and (min-width: 768px) {
  .cards__card--for-page-portfolio {
    -ms-flex-preferred-size: calc(100% / 2 - var(--min-indent));
        flex-basis: calc(100% / 2 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

@media screen and (min-width: 1200px) {
  .cards__card--for-page-portfolio {
    -ms-flex-preferred-size: calc(100% / 3 - var(--min-indent));
        flex-basis: calc(100% / 3 - var(--min-indent));
    margin-top: var(--min-indent);
    margin-left: var(--min-indent);
  }
}

.cards__card:hover, .cards__card:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translatey(200%);
          transform: translatey(200%);
  -webkit-transition: -webkit-transform 250ms var(--timing-transition);
  transition: -webkit-transform 250ms var(--timing-transition);
  transition: transform 250ms var(--timing-transition);
  transition: transform 250ms var(--timing-transition), -webkit-transform 250ms var(--timing-transition);
}

.cards__link:hover .cards__overlay,
.cards__link:focus .cards__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.cards__overlay-desc {
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.cards__desc {
  background-color: var(--white-color);
}

.cards__desc--for-ourteam {
  padding: var(--min-indent);
}

.cards__desc--for-page-portfolio {
  padding: 20px 24px;
}

.cards__title {
  text-transform: capitalize;
  color: var(--basic-hcolor);
}

.cards__title--block {
  display: block;
}

.cards__title--bold {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__title--normal {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.cards__text {
  font-size: 16px;
  text-transform: capitalize;
}

.cards__text--block {
  display: block;
}

.cards__text--for-ourteam {
  margin-bottom: 16px;
  line-height: 1.19;
}

.cards__text--for-page-portfolio {
  line-height: 1.88;
  color: var(--basic-textcolor);
}

.cards__link {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.social-list {
  list-style: none;
  color: var(--social-color);
}

.social-list--for-ourteam {
  text-align: center;
}

.social-list--margin-top {
  margin-top: 64px;
}

.social-list__item {
  display: inline-block;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item--in-mobile-menu {
  position: relative;
  display: unset;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.social-list__item--in-mobile-menu:first-child {
  padding-left: 0;
}

.social-list__item--in-mobile-menu:last-child {
  padding-right: 0;
}

.social-list__item--in-mobile-menu:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background: var(--basic-hcolor-20);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.social-list__link {
  outline: none;
}

.social-list__link--as-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 44px;
  height: 44px;
  color: var(--social-color);
  background-color: var(--footter-acolor-10);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-transition);
  transition: background-color 250ms var(--timing-transition);
}

.social-list__link--as-word {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.social-list__link--whitecolor {
  color: var(--white-color);
}

.social-list__link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__icon {
  fill: currentColor;
}

.footer__block-contact, .footer__block-social {
  margin-bottom: 60px;
  text-align: center;
}

.footer {
  background-color: var(--accent-bgcolor);
}

.footer__container {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__block-subscribe {
  text-align: center;
}

.footer__address {
  text-align: center;
}

.footer__address-desc {
  margin-bottom: 9px;
  color: var(--white-color);
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.form-subscribe__input-email {
  margin-bottom: 20px;
  padding: 15px 16px;
  min-height: 50px;
  min-width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.form-subscribe__input-email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input-email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input-email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__input-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.nav-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  list-style: none;
}

.nav-filter__item:not(:last-child) {
  margin-right: 8px;
}

.nav-filter__item:nth-last-child(n + 3) {
  margin-bottom: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: not-allowed;
  -webkit-transition: opacity 250ms var(--timing-transition);
  transition: opacity 250ms var(--timing-transition);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  overflow-y: scroll;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: -webkit-transform 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
  transition: transform 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition);
  transition: transform 250ms var(--timing-transition), box-shadow 250ms var(--timing-transition), -webkit-transform 250ms var(--timing-transition), -webkit-box-shadow 250ms var(--timing-transition);
}

@media screen and (max-height: 609px), (max-width: 320px) {
  .modal-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: translatex(0) scale(1);
            transform: translatex(0) scale(1);
  }
}

.backdrop--is-hidden .modal-order {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal-order__form {
  min-width: 100%;
  min-height: 100%;
}

.modal-order__title {
  display: block;
  min-width: 100%;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--basic-hcolor);
}

.modal-order__wrap-input {
  position: relative;
  cursor: pointer;
}

.modal-order__input {
  display: block;
  min-width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 12px 15px 12px 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--basic-textcolor);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--timing-transition);
  transition: border-color 250ms var(--timing-transition);
}

.modal-order__field-icon {
  position: absolute;
  left: 12px;
  color: var(--basic-hcolor);
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-transition);
  transition: color 250ms var(--timing-transition);
}

.modal-order__input:focus + .modal-order__field-icon,
.modal-order__input:hover + .modal-order__field-icon {
  color: var(--accent-color);
}

.modal-order__input:hover,
.modal-order__input:focus {
  border-color: var(--accent-color);
}

.modal-order__textarea {
  min-height: 120px;
  margin-bottom: 0;
  padding-left: 17px;
  resize: none;
}

.modal-order__textarea::-webkit-input-placeholder {
  color: var(--basic-textcolor-50);
}

.modal-order__textarea:-ms-input-placeholder {
  color: var(--basic-textcolor-50);
}

.modal-order__textarea::-ms-input-placeholder {
  color: var(--basic-textcolor-50);
}

.modal-order__textarea::placeholder {
  color: var(--basic-textcolor-50);
}

.modal-order__label {
  display: block;
  min-width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--basic-textcolor);
}

.modal-order__accept-terms-field {
  position: relative;
  min-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-order__chbox-accept-terms:checked + .modal-order__chbox-icon {
  border: none;
}

.modal-order__chbox-accept-terms:checked + .modal-order__chbox-icon > use {
  display: block;
}

.modal-order__chbox-accept-terms:not(:checked) + .modal-order__chbox-icon > use {
  display: none;
}

.modal-order__link-terms {
  color: var(--accent-color);
}

.modal-order__chbox-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid var(--basic-hcolor);
  border-radius: 2px;
}
