.btn-submit {
  text-align: center;
  border-style: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  &--base {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;

    background: var(--accent-color);
    color: var(--white-color);
  }

  &--menu-toggle {
    color: var(--basic-hcolor);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &--filter {
    padding: 6px 22px;
    min-height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;

    background-color: var(--section-bgcolor);
    color: var(--basic-hcolor);

    transition: background-color 250ms var(--timing-transition),
      color 250ms var(--timing-transition),
      box-shadow 250ms var(--timing-transition);
  }

  &--close-mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--basic-hcolor);
  }

  &--close-modal-order {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--black-color);
  }

  &--200-50 {
    padding: 0;
    min-width: 200px;
    height: 50px;
  }

  &--40-40 {
    width: 40px;
    height: 40px;
  }

  &--30-30 {
    width: 30px;
    height: 30px;
  }

  &--only-icon {
    font: unset;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  &--with-border {
    border: 1px solid var(--black-color-10);
  }

  &--circle-border {
    border-radius: 50%;
  }

  &--radius-border-4 {
    border-radius: 4px;
  }

  &--shadow {
    transition: box-shadow 250ms var(--timing-transition);

    &:focus,
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &--color {
    transition: color 250ms var(--timing-transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.btn-submit__icon {
  vertical-align: middle;
  fill: currentColor;
}

.btn-submit__icon--right-of-text {
  margin-left: 10px;
}

.btn-submit--filter:hover,
.btn-submit--filter:focus,
.btn-submit--filter-active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
