.footer {
  min-width: var(--width-container);
  background-color: var(--accent-bgcolor);
}

.footer__container {
  // display: flex;
  // align-items: baseline;
  // justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__address {
  text-align: center;
}

.footer__address-desc {
  // display: inline-block;
  margin-bottom: 9px;
  color: var(--white-color);
}

.footer__title {
  // display: inline-flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}
