.header {
  height: 60px;

  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.header__nav {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
