.listinfo {
  display: inline-block;
  vertical-align: bottom;
  list-style: none;

  &--display-header {
    display: flex;
    margin-left: auto;
  }
}

.listinfo__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &--margin-in-header:not(:last-child) {
    margin-right: 50px;
  }

  &--margin-in-footer {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.listinfo__link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }

  &--view-for-menu {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--basic-textcolor);
  }

  &--view-for-menu-accent {
    font-size: 34px;
    line-height: 1.176;
    color: var(--accent-color);
  }

  &--view-for-header {
    color: var(--basic-textcolor);
  }

  &--view-for-footer {
    // display: inline-block;
    line-height: 1.715;
    color: var(--footter-acolor-60);
  }
}

.listinfo__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
