.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;

  // &--inheader {
  //   margin-right: 93px;
  // }

  &--infooter {
    margin-bottom: 20px;
    text-align: center;
  }
}

.logo__link {
  text-decoration: none;
  color: var(--accent-color);
  outline: none;

  &:focus {
    box-shadow: 0 0 0 3px var(--accent-color);
  }
}

.logo__span {
  &--dark-part {
    color: var(--logo-dark-part-color);
  }

  &--light-part {
    color: var(--logo-light-part-color);
  }
}
