.nav-filter {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
  list-style: none;
}

.nav-filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:nth-last-child(n + 3) {
    margin-bottom: 15px;
  }
}
