.social-list {
  // width: 100%;
  list-style: none;
  color: var(--social-color);

  &--for-ourteam {
    text-align: center;
  }

  &--margin-top {
    margin-top: 64px;
  }
}

.social-list__item--container {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__item--in-mobile-menu {
  position: relative;
  display: unset;
  padding-right: 10px;
  padding-left: 10px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: var(--basic-hcolor-20);
    transform: rotate(0deg);
  }
}

.social-list__link {
  outline: none;

  &--as-icon {
    @include centeredFlex(inline-flex);
    width: 44px;
    height: 44px;
    color: var(--social-color);
    background-color: var(--footter-acolor-10);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-transition);
  }

  &--as-word {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
  }

  &--whitecolor {
    color: var(--white-color);
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }

  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
